<nav
  class="sticky top-0 z-50 w-full border-b border-slate-800 bg-slate-950/80 backdrop-blur-md shadow-lg"
>
  <div class="mx-auto flex items-center justify-between px-6 py-4 lg:px-12">

    <div class="flex-1">
      <div
        routerLink="/"
        class="cursor-pointer text-2xl font-bold tracking-tight text-cyan-400 inline-block"
      >
        DevDuo
      </div>
    </div>

    <div class="hidden md:flex items-center justify-center gap-8 flex-none">
      <a routerLink="/" routerLinkActive="text-cyan-400 after:w-full" [routerLinkActiveOptions]="{ exact: true }" class="relative text-slate-300 transition-colors duration-300 hover:text-cyan-400 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-cyan-400 after:transition-all after:duration-300">Home</a>
      <a routerLink="/profile" routerLinkActive="text-cyan-400 after:w-full" class="relative text-slate-300 transition-colors duration-300 hover:text-cyan-400 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-cyan-400 after:transition-all after:duration-300">Programadores</a>
      <a routerLink="/requests" routerLinkActive="text-cyan-400 after:w-full" class="relative text-slate-300 transition-colors duration-300 hover:text-cyan-400 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-cyan-400 after:transition-all after:duration-300">Solicitudes</a>
    </div>

    <div class="flex-1 flex justify-end">
      <button
        routerLink="/login"
        class="rounded-lg bg-linear-to-r from-blue-600 to-cyan-400 px-4 py-2 font-medium text-white transition-all duration-300 hover:scale-105 hover:shadow-lg hover:shadow-cyan-500/30"
      >
        Login
      </button>
    </div>

  </div>
</nav>