<div class="space-y-2">
    <label class="block text-sm font-semibold text-slate-400 uppercase tracking-wider ml-1">
        {{ label }}
    </label>

    <input [type]="type" [placeholder]="placeholder" [ngModel]="value" (ngModelChange)="onChange($event)"
        (blur)="onTouched()" [class.border-red-500]="invalid && touched"
        class="w-full bg-slate-950 border-2 border-slate-800 rounded-xl px-4 py-3.5 outline-none transition-all text-white focus:border-cyan-500 focus:ring-4 focus:ring-cyan-500/10" />

    <span class="text-xs text-red-400 ml-1" *ngIf="invalid && touched">
        {{ errorMessage }}
    </span>
</div>